body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

:root {
    --mainColor: #38519e;
}

/*#26a69a*/
/*#38519e*/

html,
body {
    max-width: 100%;
    min-height: 110%;
}

.bureau {
    width: 100px;
    height: 70px;
    background-color: #f0f0f0;
    position: absolute;
    cursor: move;
    border: 4px solid #3c3c3c;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    transition: background-color 0.3s,
            border-color 0.3s,
    transform 0.3s,
    box-shadow 0.3s;
}

.slowBureau {
    transition: left 1s,
    top 1s;
}

.dadLabel {
    position: relative;
    color: var(--mainColor);
    width: 240px;
    height: auto;
    padding: 5px;
    background: #d3d3d3;
    border: 3px solid var(--mainColor);
    border-radius: 25px;
    font-size: 10px;
    font-weight: bold;
    left: 8px;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: anywhere;
    transition: width 1s;
}

.bureauProfesseur {
    width: 200px;
    height: 70px;
    background-color: #f0f0f0;
    position: absolute;
    cursor: move;
    border: 4px solid #3c3c3c;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bureau-label {
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: box-shadow 0.3s,
    transform 0.3s;
}

.bureauProfesseur-label {
    position: absolute;
    color: white;
    background-color: #3c3c3c;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    position: relative;
    width: 281px;
    display: flex;
    flex-direction: column;
    border: 3px solid var(--mainColor);
    border-radius: 25px;
    right: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 5px;
    background-color: #f0f0f0;
    transition: transform 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0.125s,
    opacity 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0.125s,
    visibility 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0.125s,
    -webkit-transform 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0.125s;
}

.HBox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.VBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    right: 5px;
}

.container.edit-mode {
    background-color: #d3d3d3;
}

.delete-button {
    position: absolute;
    top: -9px;
    right: -4px;
    width: 25px;
    background-color: #3c3c3c;
    color: #ffffff;
    font-size: 10px;
    border: none;
    border-radius: 0 15px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    opacity: 0;
    transition: 0.2s ease-in-out;
    box-shadow: none;
}

.delete-button:hover {
    background-color: #ff0000;
    color: white;
    border: none;
}

#studentListDiv {
    right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 256px;
    min-height: 50px;
    font-size: 11px;
    background: white;
    color: white;
    z-index: 0;
    transition: border-color 0.3s, height 0.3s ease-in-out;
    border-radius: 18px;
}

#studentForm {
    display: flex;
    flex-direction: column;
}

#bureauProfA {
    position: absolute;
    top: 500px;
    left: 800px;
}

#switchModeButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #eaeaea;
    border: none;
    display: flex;
    flex-direction: row;
}

#switchModeButton.active {
    background-color: #ffcc00;
}

#editionText,
#assignationText {
    display: inline-block;
    transition: opacity 0.3s ease;
}

#switchModeButton.active #editionText {
    opacity: 0.5;
}

#switchModeButton.active #assignationText {
    opacity: 1;
}

#container-edition {
    position: relative;
    opacity: 1;
}

#container-selection {
    position: absolute;
    opacity: 0;
    margin-bottom: 200px;
}

#studentName {
    width: 256px;
    height: 50px;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: var(--mainColor);
    border-radius: 18px;
    font-size: 1em;
    font-family: sans-serif;
    border: 3px solid var(--mainColor);
    background-color: white;
    transition: background-color 0.3s,
    border-color 0.3s;
    cursor: text;
}

#studentName:focus {
    background-color: white;
    color: var(--mainColor);
    border: 3px solid var(--mainColor);
}

#studentName:focus + #newStudent {
    background-color: #3c3c3c;
}

#newStudent {
    border-radius: 0px 18px 18px 0px;
    font-size: 30px;
    width: 50px;
    right: 10px;
    top: 185px;
    position: absolute;
    background-color: var(--mainColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

#newStudent:hover {
    background-color: white;
}

#labelPark {
    opacity: 0;
    position: absolute;
    width: 0px;
    min-height: 0px;
    top: 582.5px;
    font-size: 1.5em;
    font-family: sans-serif;
    color: var(--mainColor);
    border-radius: 18px;
    z-index: 190;
    transition: transform 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0.125s,
    opacity 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0.125s,
    visibility 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0.125s,
    -webkit-transform 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0.125s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    font-weight: bold;
    width: 256px;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #f4f4f4;
    border-radius: 18px;
    font-size: 1em;
    font-family: sans-serif;
    background-color: var(--mainColor);
    transition: background-color 0.3s,
    border-color 0.3s;
    border: 3px solid var(--mainColor);
    cursor: pointer;

    box-shadow: 6px 6px 12px rgba(163, 177, 198, 0.6),
    -6px -6px 12px rgba(255, 255, 255, 0.6);
}

button:hover {
    background-color: white;
    color: var(--mainColor);
    border: 3px solid var(--mainColor);
}

button:active {
    /*
    background-color: var(--mainColor);
    color: white;
    border: 3px solid var(--mainColor);
     */
    animation: buttonReaction 0.2s ease-in-out forwards;
}

@keyframes buttonReaction {
    0% {
        background-color: white;
        color: var(--mainColor);
        border: 3px solid var(--mainColor);
    }
    100% {
        background-color: var(--mainColor);
        color: white;
        border: 3px solid var(--mainColor);
    }
}

.container > button,
form > button {
    height: 50px;
}

form > label {
    border-radius: 18px;
    background: white;
    width: 256px;
    height: 50px;
    border: 3px solid var(--mainColor);
    color: var(--mainColor);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.info {
    font-weight: bold;
    width: 123px;
    height: 50px;
    background: white;
    border: 3px solid var(--mainColor);
    color: var(--mainColor);
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.HBox > button {
    border: 3px solid var(--mainColor);
    width: 123px;
    height: 50px;
}

input {
    width: 100px;
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: border-color 0.3s;
    border: 3px solid #3c3c3c;
    border-radius: 5px;
    padding: 5px;
    font-size: 1em;
}

.bureau-label {
    transition: background-color 1s;
    font-size: 10px;
    font-weight: bold;
}

.bureau:hover .delete-button {
    opacity: 1;
}

.bureauProfesseur:hover .delete-button {
    opacity: 1;
}

.bureau.highlighted {
    @apply animate-bounce;
}

.bureau.highlighted {
    border-color: var(--mainColor);
    background: var(--mainColor);
    box-shadow: 6px 6px 12px rgba(56, 81, 158, 0.6),
    -6px -6px 12px rgba(255, 255, 255, 0.6);
}

.hidden {
    visibility: hidden;
    display: none;
}

.label.dragged {
    z-index: 1000;
}

.scrollable-container {
    max-height: 100vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollable-container::-webkit-scrollbar {
    display: none;
}

.help-button {
    position: relative;
}

#help > button {
    position: relative;
    z-index: 1001;
}

.showHelp {
    padding: 30px;
    transform: translateX(-100%);
    display: block;
    overflow: auto;
    opacity: 1;
    position: absolute;
    z-index: 10;
    background: white;
    width: 600px;
    height: 314px;
    display: flex;
    flex-direction: column;
    border: 3px solid var(--mainColor);
    border-radius: 25px 0 0 25px;
    border-right: none;
    margin: 5px;
    right: -315px;
    top: 0px;
    background-color: #f0f0f0;
    transition: transform 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0.125s,
    opacity 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0.125s,
    visibility 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0.125s,
    -webkit-transform 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0.125s;
    animation: fadeIn 0.5s ease-in-out;
}

#helpBtn {
    height: 50px;
    padding: 10px 20px;
    background-color: var(--mainColor);
    border: 3px solid var(--mainColor);
    transition: background-color 0.3s;
}

#helpBtn:hover {
    color: var(--mainColor);
    background-color: white;
}

#helpBtn.pressed {
    color: var(--mainColor);
    background-color: white;
}

.guide-container {
    padding: 30px;
    display: none;
    overflow: auto;
    opacity: 0;
    position: absolute;
    z-index: 10;
    background: white;
    width: 600px;
    height: 312.5px;
    display: flex;
    flex-direction: column;
    border: 3px solid var(--mainColor);
    border-radius: 35px 0 0 35px;
    border-right: none;
    margin: 5px;
    right: -315px;
    top: 0px;
    background-color: #f0f0f0;
    transition: transform 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0.125s,
    opacity 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0.125s,
    visibility 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0.125s,
    -webkit-transform 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0.125s;
    animation: fadeIn 0.5s ease-in-out;
}

#helpCenter {
    text-align: justify;
}

#optionCenter {
    z-index: 11;
}

#license {
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    z-index: -10;
    font-size: 10px;
}

img {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

a {
    text-decoration: none;
    margin-left: 4px;
}

a:hover {
    text-decoration: underline;
}

#mainContainer {
    z-index: 10;
    transition: border-radius 0.5s ease-in-out,
    border-left 0.5s ease-in-out;
}

#subFooter {
    background: #3c3c3c;
    color: white;
    position: fixed;
    bottom: 0;
    z-index: 9999;
    height: 35px;
    font-weight: bold;
    padding: 0 20px;
    opacity: 0;
    animation: showme 0.2s 3s linear forwards;
    animation-iteration-count: 1;
}

@keyframes showme {
    to {
        opacity: 1;
    }
}

#subFooterClone {
    background: white;
    color: white;
    position: fixed;
    bottom: 0;
    z-index: 10000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 35px;
    font-weight: bold;
    padding: 0 20px;
    animation: borderRadiusReverse 0.3s 2.7s linear forwards;
}

#subFooter > p {
    font-size: 12px;
}

#subFooter .license {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

#subFooter .license img {
    height: 35px;
}

.developed-by {
    margin-bottom: 0;
    margin-left: -8px;
}

#left {
    margin-right: 3%;
}

.social {
    @apply my-auto;
}

.social {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}

.social:hover {
    opacity: 0.69;
}

.toggle-footer {
    cursor: pointer;
    display: block;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.footerHBox {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding: 0 20px;
    transition: margin 0.3s ease-in-out;
}

#subFooter > .HBox > p {
    margin-top: 13px;
    font-size: 12px;
}

#subFooter HBox .footerVBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin: 5px 0;
}

ul li a {
    text-decoration: none;
    color: #333;
}

* {
    box-sizing: border-box;
}

:root {
    --switches-bg-color: var(--mainColor);
    --switches-label-color: white;
    --switch-bg-color: white;
    --switch-text-color: var(--mainColor);
}

body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.switches-container {
    width: 16rem;
    position: relative;
    display: flex;
    padding: 0;
    position: relative;
    background: var(--switches-bg-color);
    line-height: 3rem;
    border-radius: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.switches-container input {
    visibility: hidden;
    position: absolute;
    top: 0;
}

.switches-container label {
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
    color: var(--switches-label-color);
    font-weight: bold;
}

.switch-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    padding: 3px;
    z-index: 3;
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.switch {
    border-radius: 15px;
    background: var(--switch-bg-color);
    height: 100%;
}

.switch div {
    width: 123px;
    text-align: center;
    opacity: 0;
    display: block;
    color: var(--switch-text-color);
    transition: opacity 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0.125s;
    will-change: opacity;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
}

.switches-container input:nth-of-type(1):checked ~ .switch-wrapper {
    transform: translateX(0%);
}

.switches-container input:nth-of-type(2):checked ~ .switch-wrapper {
    transform: translateX(100%);
}

.switches-container
input:nth-of-type(1):checked
~ .switch-wrapper
.switch
div:nth-of-type(1) {
    opacity: 1;
}

.switches-container
input:nth-of-type(2):checked
~ .switch-wrapper
.switch
div:nth-of-type(2) {
    opacity: 1;
}

@keyframes colorChange {
    0% {
        background-color: var(--mainColor);
        border-color: #f0f0f0;
        color: white;
        scale: 0.99;
    }
    100% {
        background-color: white;
        border-color: var(--mainColor);
        color: var(--mainColor);
        scale: 1.01;
    }
}

.showMe {
    animation: colorChange 0.5s ease-in-out infinite alternate;
}

.helpLink {
    color: var(--mainColor);
    cursor: pointer;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.d-none {
    display: none !important;
}

h1.title,
.footer-copyright a {
    font-family: "Architects Daughter", cursive;
    text-transform: uppercase;
    font-weight: 900;
}


body.welcome {
    background: #fff;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

blockquote {
    border-left-color: #da9be8;
}

.welcome .splash {
    height: 0px;
    padding: 0px;
    border: 130em solid var(--mainColor);
    position: fixed;
    left: 50%;
    top: 100%;
    display: block;
    box-sizing: initial;
    overflow: hidden;
    z-index: 10100;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: puff 0.3s 2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards,
    borderRadius 0.2s 2.3s linear forwards;
}

.welcome #welcome {
    background: white;
    width: 56px;
    height: 56px;
    position: absolute;
    left: 50%;
    top: 50%;
    overflow: hidden;
    opacity: 0;
    z-index: 10101;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: init 0.5s 0.9s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards,
    moveDown 0.5s 1.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards,
    moveUp 0.5s 2s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards,
    moveDownBis 0.5s 2.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards,
    materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards,
    hide 2s 3s ease forwards;
}

.welcome header,
.welcome a.btn {
    opacity: 0;
    animation: moveIn 1.5s 3.1s ease forwards;
}

@keyframes init {
    0% {
        width: 0px;
        height: 0px;
    }
    100% {
        width: 56px;
        height: 56px;
        margin-top: 0px;
        opacity: 1;
    }
}

@keyframes puff {
    0% {
        top: 100%;
        height: 0px;
        padding: 0px;
    }
    100% {
        top: 50%;
        height: 100%;
        padding: 0px 100%;
    }
}

@keyframes borderRadius {
    0% {
        border-radius: 50%;
    }
    99% {
        border-radius: 0px;
    }
    100% {
        border-radius: 0px;
        display: none;
    }
}

@keyframes borderRadiusReverse {
    0% {
        border-radius: 95%;
        background: white;
        color: white;
        width: 10%;
        right: 50%;
        opacity: 100%;
        bottom: -25px;
    }
    50% {
        border-radius: 50%;
        width: 100%;
        right: 0%;
        opacity: 90%;
        bottom: 0px;
    }
    80% {
        border-radius: 0;
        background: var(--mainColor);
        width: 100%;
        right: 0;
        opacity: 80%;
    }
    90% {
        border-radius: 0;
        background: var(--mainColor);
        color: white;
        width: 100%;
        right: 0;
        opacity: 50%;
    }
    100% {
        border-radius: 0;
        background: var(--mainColor);
        color: white;
        width: 100%;
        right: 0;
        opacity: 0;
    }
}

@keyframes showme2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes moveDown {
    0% {
        top: 50%;
    }
    50% {
        top: 40%;
    }
    100% {
        top: 100%;
    }
}

@keyframes moveUp {
    0% {
        background: var(--mainColor);
        top: 100%;
    }
    50% {
        top: 40%;
    }
    100% {
        top: 50%;
        background: #3c3c3c;
    }
}

@keyframes moveDownBis {
    0% {
        background: var(--mainColor);
        top: 50%;
    }
    50% {
        top: 40%;
    }
    100% {
        top: 100%;
        background: var(--mainColor);
    }
}

@keyframes materia {
    0% {
        background: var(--mainColor);
        bottom: 0;
    }
    50% {
        bottom: 26px;
    }
    100% {
        background: var(--mainColor);
        width: 0;
        height: 0;
        border-radius: 0;
        bottom: 0;
    }
}

@keyframes moveIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes collapseText {
    0% {
        opacity: 1;
        font-size: 5em;
        letter-spacing: 0.5em;
    }
    10% {
        opacity: 1;
        font-size: 5em;
        letter-spacing: 0.5em;
    }
    20% {
        opacity: 1;
        font-size: 5em;
        letter-spacing: 0.5em;
    }
    30% {
        opacity: 1;
        font-size: 5em;
        letter-spacing: 0.5em;
    }
    40% {
        opacity: 1;
        font-size: 5em;
        letter-spacing: 0.4em;
    }
    50% {
        opacity: 1;
        font-size: 4.5em;
        letter-spacing: 0.3em;
    }
    60% {
        opacity: 1;
        font-size: 4em;
        letter-spacing: 0.2em;
    }
    70% {
        opacity: 1;
        font-size: 3em;
        letter-spacing: 0.1em;
    }
    80% {
        opacity: 1;
        font-size: 2em;
        letter-spacing: -0.1em;
    }
    90% {
        opacity: 1;
        font-size: 2em;
        letter-spacing: -0.3em;
    }
    100% {
        opacity: 0;
        font-size: 1em;
        letter-spacing: -0.5em;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

#text-container {
    color: white;
    font-size: 5em;
    letter-spacing: 0.5em;
    font-weight: bold;
    font-family: "Kanit", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 10102;
    animation: collapseText 0.6s 0.7s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards,
    hide 0.0001s 1.8s ease forwards;
}

#text-container > h1 {
    font-family: "Kanit", sans-serif;
}

.animate-label {
    transition: top 0.5s ease-in-out,
    left 0.5s ease-in-out;
}

.screenshot-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    width: 40%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid red;
}

.screenshot-modal img {
    position: relative;
    width: 45%;
    height: 45%;
}

.screenshot-master {
    position: relative;
    width: 100%;
    height: 100%;
    border: 5px solid blue;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.modeleOverlayDaddy,
.popupStudentListDaddy{
    z-index: -5;
    height: auto;
    width: 100%;
    background: rgba(60, 60, 60, 0.7);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: opacity 0.3s,
    z-index 0.3s;
}

.modeleOverlayDaddy > * ,
.popupStudentListDaddy > * {
    background: none;
    backdrop-filter: none;
}

.modeleOverlay,
.popupStudentList {
    z-index: -5;
    position: absolute;
    border-radius: 25px;
    border: 3px solid #3c3c3c;
    background: #f0f0f0;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s,
    z-index 0.3s;
}

.modeleOverlay > * ,
.popupStudentList > * {
    margin-bottom: 5px;
    margin-top: 5px;
}

.modeleOverlay #confirmButton,
.popupStudentList #confirmButtonPopup {
    width: 50%;
    margin-bottom: 0;
    margin-left: 5px;
    height: 40px;
}

#inputParent > input {
    width: 50px;
    height: 30px;
}

.VBox > label {
    margin-bottom: 5px;
    margin-top: 5px;
}

.hideMeOverlay {
    display: none;
    opacity: 0;
}

.showMeOverlay {
    display: block;
    opacity: 1;
}

#bottomPreview > .info,
#bottomPreviewPopup > .info {
    width: 50%;
    margin-bottom: 0;
    margin-right: 5px;
    height: 40px;
    border-radius: 18px;
}

#previewContainer {
    width: 450px;
    height: 200px;
}

.preview-square {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    position: absolute;
    border-radius: 5px;
}

.green {
    background-color: var(--mainColor);
    animation: growUp 0.2s ease-in-out forwards;
}

@keyframes growUp {
    0% {
        transform: scale(0.99);
    }
    70% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
}

.info {
    white-space: nowrap;
}

#bureauCountPreview::before,
#bureauCount::before,
#studentCount::before {
    content: "\00a0";
}

#bin {
    opacity: 0;
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 50px;
    right: 350px;
    background-image: url("../image/bin.png");
    background-size: cover;
    transition: all 0.3s ease-in-out;
}

@keyframes elementDestroy {
    0% {
        opacity: 1;
        transform: scale(1) rotateY(0deg) translate3d(0, 0, 0);
    }
    100% {
        opacity: 0;
        transform: scale(0) rotateY(80deg) translate3d(-100px, 100px, 0);
    }
}

/*------ICONS------*/
#helpBtn::before {
    font-family: FontAwesome;
    content: "\f128";
    margin-right: 5px;
}

#importBureausBtn::before {
    font-family: FontAwesome;
    content: "\f019";
    margin-right: 5px;
}

#exportBtn::before {
    font-family: FontAwesome;
    content: "\f093";
    margin-right: 5px;
}

#plehG::before {
    font-family: FontAwesome;
    content: "\f0fe";
    margin-right: 5px;
}

#plehBA::before,
#plehBB::before {
    font-family: FontAwesome;
    content: "\f067";
    margin-right: 5px;
}

#screenshotBtn::before {
    font-family: FontAwesome;
    content: "\f030";
    margin-right: 5px;
}

#canard::before {
    font-family: FontAwesome;
    content: "\f2a1";
    margin-right: 5px;
}

#canard.active::before {
    content: "\f021";
}

#importStudentListBtn::before {
    font-family: FontAwesome;
    content: "\f15c";
    margin-right: 5px;
}

#removeStudentFromPlanBtn::before {
    font-family: FontAwesome;
    content: "\f1f8";
    margin-right: 5px;
}

#deleteAllBureausBtn::before {
    font-family: FontAwesome;
    content: "\f1f8";
    margin-right: 5px;
}

.canBeMoved {
    border-color: #a7a7a7;
}

.canBeMoved > .bureau-label {
    border: 3px solid var(--mainColor);
}

#zoomInBtn::before {
    font-family: FontAwesome;
    content: "\f00e";
    font-size: 1.3em;
}

#zoomOutBtn::before {
    font-family: FontAwesome;
    content: "\f010";
    font-size: 1.3em;
}

#zoomLabel {
    margin-left: 10px;
    margin-right: 10px;
}

#bureauParent {
    transition: transform 0.3s ease-in-out;
}

#randomBureauBtn::before {
    font-family: FontAwesome;
    content: "\f074";
    margin-right: 5px;
}

.nostylebutton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    box-shadow: none;
    color: black;
    background: transparent;
    font-size: 1.2em;
}

.nostylebutton:hover {
    scale: none;
    border: none;
    color: gray;
    background: transparent;
}